$primary: #222836;
@import "bulma/bulma.sass";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,600,800");

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 14px;
}

pre code {
  font-size: 13px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

nav.navbar {
  border-bottom: 1px solid #222;
  background: $primary;
  min-height: 60px;

  a {
    font-size: 16px;
    color: #fff;

    &:hover {
      color: #fff;
      background: #000 !important;
    }
  }

  a.navbar-item.is-active {
    background: none;
    background-color: transparent !important;
  }

  .brand {
    img {
      height: 36px;
      max-height: none;
    }

    img + img {
      height: 18px;
      padding-left: 12px;
    }

    &:hover {
      background: none;
    }
  }
}

body > .nav {
  position: fixed;
  width: 100%;
}

body > .nav + section {
  position: relative;
  top: 50px;
  margin-bottom: 50px;
}

h1, .content h1,
h2, .content h2,
h3, .content h3,
h4, .content h4,
h5, .content h5,
h6, .content h6 {
  font-family: Montserrat, 'Open Sans', sans-serif;
  font-weight: 800;
}

h4, .content h4,
h5, .content h5,
h6, .content h6 {
  font-weight: 600;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 940px;
    width: 940px;
  }
}

.is-transparent {
  background: transparent;
}

.button.is-transparent:hover {
  border-color: #fff;
}

.menu.docs {
  margin-top: 8px;

  .menu-label {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #444;
  }

  .menu-list {
    li {
      ul {
        border-left: 1px solid #eee;

        li a {
          font-size: 90%;
        }
      }
    }
  }
}

.menu-list {
  a.is-active {
    background-color: #462c70;
  }
}

.paging {
  margin-top: 50px;

  .tile .tile:first-child a {
    width: 95%;
  }

  a {
    display: block;
    position: relative;
    background: transparent !important;
    width: 100%;
    border: 1px solid #eee !important;
    padding: 18px;
    box-shadow: 0px 0px 18px #ddd;

    i,
    span {
      display: block;
    }

    .label {
      color: #aaa;
      font-size: 14px;
    }

    .title {
      color: #444;
      font-size: 18px;
    }

    i {
      position: absolute;
      top: 34px;
      color: #ccc;
    }


    &:hover {
      border-color: #ddd !important;

      i {
        color: #444;
      }
    }
  }

  .prev {
    text-align: right;

    i {
      left: 10px;
    }
  }

  .next {
    text-align: left;

    i {
      right: 10px;
    }
  }
}
