<link rel="icon" href="/img/proppy-square-128.png" type="image/x-icon"/>
<link rel="shortcut icon" href="/img/proppy-square-128.png" type="image/x-icon"/>

<!-- meta -->
<% if (meta && meta.description) { %>
<meta name="description" content="<%= meta.description %>" />
<% } %>

<% if (meta && meta.keywords) { %>
<meta name="keywords" content="<%= meta.keywords %>" />
<% } %>


<!-- og -->
<% if (og && og.title) { %>
<meta property="og:title" content="<%= og.title %>" />
<% } %>

<% if (og && og.description) { %>
<meta property="og:description" content="<%= og.description %>" />
<% } %>

<% if (og && og.image) { %>
<meta property="og:image" content="<%= og.image %>" />
<% } %>

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content="@fahad19" />
