<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Built with ❤︎ by <a href="https://twitter.com/fahad19">@fahad19</a> and <a href="https://github.com/fahad19/proppy/graphs/contributors">contributors</a>.
      </p>

      <p class="social-icons">
        <a class="icon" title="GitHub" href="https://github.com/fahad19/proppy">
          <i class="fa fa-github"></i>
        </a>

        <a class="icon" title="Twitter" href="https://twitter.com/proppyjs">
          <i class="fa fa-twitter"></i>
        </a>

        <!--<a class="icon" title="Medium" href="https://medium.com/proppyjs">
          <i class="fa fa-medium"></i>
        </a>-->
      </p>
    </div>
  </div>
</footer>
